pkgbase = OWLFetch
	pkgdesc = OWLFetch – a simple Fetch made in one day as a pet project.
	pkgver = 2.1
	pkgrel = 3
	url = https://github.com/uncertainty403/fortufetch
	arch = any
	license = GPL 3.0
	depends = xorg-xrandr
	depends = lsb-release
	depends = pciutils
	depends = inetutils
	depends = procps-ng
	source = OWLFetch.sh
	md5sums = SKIP

pkgname = OWLFetch
