pkgbase = fortufetch
	pkgdesc = the best fetch ever. faster than neofetch, fa
	pkgver = 2.1
	pkgrel = 3
	url = https://github.com/fishcheese/fortufetch
	arch = any
	license = GPL 3.0
	depends = xorg-xrandr
	depends = lsb-release
	depends = pciutils
	depends = inetutils
	depends = procps-ng
	source = fortufetch.sh
	md5sums = SKIP

pkgname = fortufetch
